{% for career in site.career-list %}
<section>
    <h2>
        {{ career.company }}
        <span style="font-size:0.9em; font-weight:normal;">
            <small>{{ career.start-date | date: "%b %Y" }} - {{ career.end-date
                }}</small>
        </span>
    </h2>
    <div style="margin-bottom: 0.5em;">
        <strong>{{ career.job_title }}</strong>
    </div>
    <ul>
        {% for achivement in career.achivements %}
        <li>{{ achivement }}</li>
        {% endfor %}
    </ul>
    <p><strong>Skills:</strong> {{ career.skills | join: ', ' }}</p>
</section>
{% endfor %}